---

---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
        <body>
        <a href="/">Home</a>
        <a href="/about/">About Me</a>
        <a href="/blog/">The Bloggersphere</a>

        <h1>My Astro Site</h1>
        <h1>About Me</h1>
        <h2>... and my new Astro site!</h2>

        <p>I am currently working through Astro's introductory tutorial. This is the second page on my Astro powered webiste, and it's the first one I built myself!</p>

        <p>This site will update as I complete more of the tutorial, so keep chekcing back and see how my journey is going!</p>
    </body>